---
title: South korea Travel Guide.
layout: layouts/home.njk
description: a South Korea travel website guide on hotels and food.
image: https://upload.wikimedia.org/wikipedia/en/a/a9/Example.jpg
date: Last Modified
---

<h2>Discover the beauty and culture of South Korea </h2>
----------------------------------------------

From the bustling streets of Seoul to the tranquil temples of the countryside, South Korea offers something for every traveler. Immerse yourself in the rich history and tradition of the Korean people, sample delicious Korean cuisine, and explore the stunning natural landscapes.

Whether you're a history buff, a food lover, or an outdoor enthusiast, South Korea has something to offer you. Don't miss out on the opportunity to experience all that this amazing country has to offer. Start planning your trip today!

 <img src="img/2.jpg" alt="Gyeongbokgung Palace">
  <img src="img/1.jpg" alt="Jeju Island">
  <img src="img/3.jpg" alt="Busan">
  <img src="img/4.jpg" alt="Namsan Tower">
  <a href="#" class="cta">Start planning your trip</a>

 <img src="https://cdn.pixabay.com/photo/2020/08/25/11/11/zebra-5516455_1280.jpg" alt="Italian Trulli">



<p>
  This is a demo website based on 
  <a href="https://www.industrialempathy.com/posts/eleventy-high-performance-blog/">eleventy-high-performance-blog</a>.
</p>

<div id="posts">
  <h2>Posts</h2>
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>