---
layout: layouts/base.njk
templateClass: tmpl-home
---
<img src="/img/remote/2.jpg" width="500" height="600">
  <img src="/img/remote/1.jpg"  width="500" height="600">
   <img src="/img/remote/3.jpg"  width="500" height="600">
    <img src="/img/remote/4.jpg"  width="500" height="600">

{{ content | safe }}
